<form method="POST">
        <legend> <%= legend %></legend>
        <div class="input-group mb-3">
            <span class="input-group-text" id="title">Название книги</span>
            <input  name="title" type="text" class="form-control" placeholder="Название книги" aria-label="title" aria-describedby="title" required value="<%= book.title %>">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="description">Описание книги</span>
            <textarea name="description" class="form-control" placeholder="description" aria-label="description" aria-describedby="description" required><%= book.description %></textarea>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="authors">Авторы</span>
            <input name="authors" type="text" class="form-control" placeholder="authors" aria-label="authors" aria-describedby="authors" required value="<%= book.authors.join(', ') %>">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
</form>
