<p>ID: <%= user.id %></p>
<p>Имя: <%= user.name.familyName %></p>
<p>Фамилия: <%= user.name.givenName %></p>

<code style='background: lightgray'><pre><%= JSON.stringify(user, null, 2) %></pre></code>
