<%- include("./layout/layoutTop", {title: title}) %>
<%- include("./layout/menu") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <ul class="row gy-5 align-items-stretch">
            <% books.map((item) => { %>
                <%- include("./books/card", { item }) %>
            <%  }); %>
        </ul>
    </div>
</div>

<%- include("./layout/layoutEnd") %>
