<!DOCTYPE html>
<html>
<head>
    <title>Passport-Yandex Example</title>
</head>
<body>
<% if (!user) { %>
    <p>
        <a href="/">Домой</a> |
        <a href="/login">Войти</a>
    </p>
<% } else { %>
    <p>
        <a href="/">Домой</a> |
        <a href="/account">Профиль</a> |
        <a href="/logout">Выйти</a>
    </p>
<% } %>
</body>
</html>
