<%- include("./layout/layoutTop", {title: title}) %>
<%- include("./layout/menu", {additionalStyles: ""}) %>

<div class="container container-fluid pt-3">
    <ul class="row row-cards">
            <% books.map((item) => { %>
                <%- include("./books/cardNew", { item }) %>
            <%  }); %>
        </ul>
</div>

<%- include("./layout/layoutEnd") %>
