<%- include("../layout/layoutTop", {title: title}) %>
<%- include("../layout/menu", {additionalStyles: "img js-fullheight", isAuthenticated}) %>

<div class="userPage container d-flex justify-content-center align-items-center" style='height: 100%'>
<div class="card">
    <div class="upper"> <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid"> </div>
    <div class="user text-center">
        <div class="profile"> <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle" width="80"> </div>
    </div>
    <div class="mt-5 text-center">
        <h4 class="mb-0"> Пользователь: </h4> <span class="text-muted d-block mb-2"><%= user.username%></span>
        <div class="d-flex justify-content-between align-items-center mt-4 px-4">
            <div class="stats">
                <h6 class="mb-0">Любимых книг</h6> <span>0</span>
            </div>
            <div class="stats">
                <h6 class="mb-0">Сохраненных книг</h6> <span>0</span>
            </div>
        </div>
    </div>
</div>
</div>

<%- include("../layout/layoutEnd") %>
